.App {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  padding: 20px;
  list-style-type: none;
  text-decoration: underline;
}

.list > li {
  display:block;
  text-decoration: none;
  padding: 0;
}
.list {
  column-count: 4;
}

body {
  background: #ACBEB3;
}

input {
  border-radius: 50px;
  display: block;
  margin: 10px auto;
  width: 150px;
  padding: 5px;
}

button {
  border-radius: 50px;
  font-size: 10px;
  padding: 5px 10px;
  display: block;
  margin: auto;
}
img {
  margin-top: 30px;
  width: 60%;
}